<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|default('')}}</title>
        <meta
        charset="utf-8"/>
        {# TODO make local #}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
        <style>
        .form-row { display: flex; margin-bottom: 29px; }
        .form-row:last-child { margin-bottom: 0px; }
        .margin-top-10 { margin-top: 10px; }
        .float-left { float: left; }
        .float-right { float: right; }
        .display-inline { display: inline; }
        .display-inline-block { display: inline-block; }
        .width-200 { width: 200px; }
        .clear-both { clear: both; }
        .gj-display-none { display: none; }
        </style>
        {% block head_js %}
        <script type="text/javascript">
        {% block js_declarations %}{% endblock %}
        $ ( document ).ready(function ()
        {
        {% block js_docready %}{% endblock %}
        });
        </script>
        {% endblock %}
    </head>
    <body>
        {% block grid %}
        <div class="container-fluid">
            {% block grid_nav %}
            <div class="row">
                <div class="col-9">
                {% block grid_nav_left %}{% endblock %}
                </div>
                <div class="col-3">
                    {% block grid_nav_right %}{% endblock %}
                </div>
            </div>
            {% endblock %}
            {% block grid_table %}
            <div class="row" style="margin-top: 10px">
                <div class="col-12">
                    <table id="{{ grid.id|default('grid') }}"></table>
                </div>
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    </body>
</html>
